{%  extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <html>
    <head>
        <title>Page d'accueil</title>
    </head>
    <body>
    <header>
        <div class="menu">
            <img src="{{ asset("/image/osu-logo-white.svg") }}" alt="osu logo in white" width="60px" height="60px"/>
            <a href="{{ path('home') }} " class="home">Accueil</a>
            <a href="#" class="beatmap">Beatmaps</a>
            <a href="#" class="ranking">Classements</a>
            <a href="{{ path("app_article") }}" class="forum">Forums</a>
            <a href="https://osu.ppy.sh/wiki/fr/Main_Page" class="help">Aide</a>
            <div class="imageHead">
                <img src="image/artist-noavatar@2x.jpg" alt="artist" class="profile">
            </div>
        </div>
    </header>
    <div class="tableauDeBord">
        <a href="{{ path('app_contact') }}">Nous contacter</a>
    </div>
    <div class="dashboard">
        <p>Welcome to the dashboard!</p>
    </div>
    <div class="mainPage">
        <h1>Page d'accueil</h1>
        <p>Bienvenue sur la page d'accueil de mon site !</p>
        <div class="identification">
            <a href="{{ path('app_login') }}">Se connecter</a>
            <a href="{{ path('app_register') }}">S'inscrire</a>
        </div>

    </div>
    <br>
    </body>
    </html>

{% endblock %}